{% load static %}
<header class="site-header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand me-lg-5 me-0" href="index.html">
                        <img src="{% static 'images/barbie-logo.png' %}" class="logo-image img-fluid"
                             alt="templatemo pod talk">
                    </a>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if page_tag == 'home' %}active{% endif %}"
                                   href="{% url 'home_page' %}">Главная</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if page_tag == 'studio' %}active{% endif %}"
                                   href="{% url 'studio_page' %}">наша студия</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link {% if page_tag == 'masters' %}dropdown-toggle{% endif %}"
                                   href="{% url 'masters_page' %}">Мастера</a>

                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="listing-page.html">Diana</a></li>

                                    <li><a class="dropdown-item" href="detail-page.html">Olga</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if page_tag == 'contact' %}active{% endif %}"
                                   href="{% url 'contact_page' %}">контакты</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if page_tag == 'about' %}active{% endif %}"
                                   href="{% url 'about_page' %}">о нас</a>
                            </li>

                        </ul>

                        <div class="ms-4">
                            <a href="#section_3" class="btn custom-btn custom-border-btn smoothscroll">обучение</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
